@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.hero-section {
    min-height: 100dvh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    font-family: Manrope, sans-serif;
}

.header-panel {
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, .098);
    z-index: 3;
}

.burger-opening-animation {
    animation: closeBurgerMenu .55s ease-in reverse;
}

.burger-closing-animation {
    animation: closeBurgerMenu .55s ease-out normal;
}

.d-none {
    display: none;
    opacity: 0%;
}

.logo > a {
    display: block;
    height: calc(51.5px / 1.5);
    width: calc(170px / 1.5);
    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .098);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all .3s ease-out;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.153);
    transition: all .3s ease-out;
    transform: scale(1.2);
}

.icon:active {
    background-color: rgba(255, 255, 255, 0.267);
    transition: none;
}

.burger-menu {
    position: absolute;
    top: 100px;
    left: calc(50%);
    transform: translateX(-50%);
    height: 500px;
    width: 80vw;
    background-color: rgba(255, 255, 255, .098);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-out;
    z-index: 2;
}

.social-networks {
    display: flex !important;
    justify-content: space-around;
}

.fa-chevron-down {
    display: none;
}

.nav-panel > ul {
    list-style-type: none;
}

.nav-panel > ul > li {
    text-transform: capitalize;
    margin-top: 20px;
}

.tab {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    line-height: 40px;
    padding-left: 20px;
    transition: all .3s ease-out;
    color: white;
    text-decoration: none;
}

.tab:hover {
    background-color: rgba(255, 255, 255, .098);
    transition: all .3s ease-out;
    margin-left: 10px;
}

.tab:hover:before,
.tab:hover:after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
}

.tab:hover:before {
    top: 15px;
    transform: rotate(45deg);
}

.tab:hover:after {
    top: 25px;
    transform: rotate(-45deg);
}

.tab:active {
    background-color: rgba(255, 255, 255, 0.267);
    transition: none;
    transition: margin .3s ease-out;
}

.additionally {
    display: flex;
    align-items: center;
}

.additionally > *:not(:first-child) {
    margin-left: 10px;
}

.separator {
    display: inline-block;
    width: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 10px;
}

.additionally .header-button,
.additionally .call-title {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
}

.header-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-out;
}

.burger-button:hover > .burger {
    margin-left: -1px;
}

.burger {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 0;
    height: 1.5px;
    width: 12px;
    background-color: white;
    border-radius: 1px;
    transition: all .3s ease-out;
}

.burger:before,
.burger:after {
    content: "";
    display:inline-block;
    position: absolute;
    height: 1.5px;
    width: 12px;
    background-color: white;
    border-radius: 1px;
    left: 0;
    transform: rotate(0deg);
}

.burger:before {
    top: 4px;
    transition: all .3s ease-out;
}

.burger:after {
    bottom: 4px;
    transition: all .3s ease-out;
}

.close-burger-button .burger {
    width: 0;
    transition: width .3s ease-out;
}

.close-burger-button .burger:before {
    top: 0;
    transform: rotate(45deg);
    left: -6px;
    transition: all .3s ease-out;
}

.close-burger-button .burger:after {
    bottom: 0;
    transform: rotate(-45deg);
    left: -6px;
    transition: all .3s ease-out;
}

.call-button {
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #EEC044;
    border: 1px solid #EEC044;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    transition: all .3s ease-out;
}

.header-button:hover,
.call-button:hover {
    background-color: rgba(255, 255, 255, .098);
    transition: all .3s ease-out;
    transform: scale(1.2);
}

.header-button:active,
.call-button:hover {
    background-color: rgba(255, 255, 255, 0.267);
    transition: none;
}

.buy-button {
    position: relative;
}

.buy-button:before {
    content: "0";
    display: block;
    position: absolute;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: rgba(75, 175, 71, 1);
    border-radius: 50%;
    font-size: 6px;
    line-height: 8px;
}

.additionally > .call-title {
    display: none;
    position: relative;
    top: 4px;
    font-size: 12px;
}

.additionally > .call-title:before {
    content: "call anytime";
    position: absolute;
    top: -12px;
    font-size: 10px;
    text-transform: capitalize;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    width: 320px;
}

.arrow {
    position: absolute;
    top: 60%;
    height: 33px;
    width: 33px;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 30%;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 90px;
    z-index: 2;
}

.yellow-underline-text {
    position: relative;
    color: #EEC044;
}

.yellow-underline-text:after {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    left: 8px;
    width: 107px;
    height: 12.45px;
    background-image: url("../images/underline.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
    display: block;
    height: 40px;
    width: 140px;
    font-size: 12px;
    background-color: #4BAF47;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    user-select: none;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #56ca51;
    transition: all .3s ease-out;
}

.button:active {
    background-color: #6bf866;
    transition: none;
}

.hero-section:before,
.hero-section:after {
    content: "";
    display: block;
    position: absolute;
    top: -241.44px;
    height: 1350px;
    width: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    transform: rotate(14.89deg);
    opacity: 0.06;
}

.hero-section:before {
    left: 48px;
}

.hero-section:after {
    left: -2px;
}

/*--------Animation--------*/

@keyframes closeBurgerMenu {
    0% {
        filter: blur(0px);
        opacity: 100%;
    }

    100% {
        filter: blur(100px);
        opacity: 0%;
    }
}

/*--------Media quaries--------*/
@media screen and (min-width: 481px) {
    .content-wrap {
        width: 60%;
    }

    .arrow {
        top: 55%;
    }

    .left-arrow {
        left: 0;
    }

    .right-arrow {
        right: 0;
    }

    .hero-section:before,
    .hero-section:after {
        width: 200px;
    }

    .hero-section:before {
        left: 100px;
    }

    .hero-section:after {
        left: 0px;
    }
}

@media screen and (min-width: 769px) {
    .additionally > .call-title {
        display: inline-block;
    }

    .hero-section:before,
    .hero-section:after {
        width: 307.0397944147263px;
    }

    .hero-section:before {
        left: 117.16px;
    }

    .hero-section:after {
        left: -36.45px;
    }

}

@media screen and (min-width: 1025px) {
    .d-none {
        display: block;
        opacity: 100%;
    }

    .burger-closing-animation {
        animation: none;
    }

    .burger-menu {
        position: static;
        display: flex;
        justify-content: space-around;
        transform: translateX(0px);
        height: 65px;
        width: auto;
        background-color: transparent;
        backdrop-filter: none;
        border-radius: 0px;
        padding: 0px;
        transition: none;
    }

    .social-networks {
        align-items: center;
        width: 160px;
    }

    .social-networks > .icon {
        height: 30px;
        width: 30px;
        font-size: 15px;
        line-height: 30px;
    }

    .fa-chevron-down {
        display: inline;
    }

    .nav-panel > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 5px;
        width: 450px;
        padding: 0 0 0 20px;
    }

    .nav-panel > ul > li {
        margin: 0;
    }

    .tab {
        font-size: 11px;
        padding: 0 5px;
    }

    .tab:hover {
        background-color: rgba(255, 255, 255, .098);
        transition: all .3s ease-out;
        margin-left: 0px;
    }

    .tab:hover:before,
    .tab:hover:after {
        display: none;
    }

    .burger-button {
        display: none;
    }

    h1 {
        font-size: 60px;
    }

    .yellow-underline-text:after {
        top: 60px;
        left: 16px;
        width: calc(107px * 1.8);
        height: calc(12.45px * 1.8);
    }
}

@media screen and (width > 1200px) {
    .header-panel {
        height: 130px;
    }

    .logo > a {
        height: 81.5px;
        width: 190px;
    }

    .social-networks {
        height: 70px;
        width: 195px;
    }

    .social-networks > .icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .nav-panel > ul {
        width: 550px;
        column-gap: 10px;
        padding-right: 0;
    }

    .tab {
        font-size: 14px;
    }

    .header-button {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .buy-button:before {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 11px;
        font-weight: 600;
    }

    .call-button {
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        line-height: 50px;
    }
}

@media screen and (width > 1300px) {
    .additionally > .call-title {
        top: 4px;
        font-size: 16px;
        font-weight: 600;
    }

    .additionally > .call-title:before {
        top: -14px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media screen and (width > 1400px) {
    .nav-panel > ul {
        width: 600px;
    }

    .tab {
        font-size: 16px;
    }
    
    h1 {
        font-size: 80px;
        letter-spacing: -6px;
    }

    .yellow-underline-text:after {
        top: 80px;
        left: 24px;
        width: 215px;
        height: 25px;
    }
}

